@model IEnumerable<NET.ViniciusNunes.WebApp.Models.LivroViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Página Inicial</h2>
<div>
    @Html.ActionLink("Adicionar um Livro", "Create")
</div>
<table class="table">
    <tr>        
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Autor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Editora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emprestado)
        </th>
        <th></th>
    </tr>

    @foreach (var livro in Model)
    {
        <tr>            
            <td>
                @Html.DisplayFor(modelItem => livro.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => livro.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => livro.Editora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => livro.Ano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => livro.Emprestado)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = livro.Id }, new { @class = "btn btn-primary btn-xs" })

                @Html.ActionLink("Detalhes", "Details", new { id = livro.Id }, new { @class = "btn btn-info btn-xs" })
                
                @Html.ActionLink("Excluir", "Delete", new { id = livro.Id }, new { @class = "btn btn-danger btn-xs" })
            </td>
        </tr>
    }    
</table>