@model ASP.NET.ViniciusNunes.WebApp.Models.EmprestimoViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmprestimoViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dataEmprestimo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataEmprestimo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataDevolucao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataDevolucao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.livroId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.livroId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
